#example input, #example select	{
  font-size:14px;
  padding:5px 5 5px 5px;
  display:block;
  width:100%;
  border:none;
  background: transparent;
  
}

#example input:focus,#example select:focus	{ outline:none; border-bottom:1px solid #757575;}
 

.pagination {
  margin-top: 45px;
  margin-left: -40px;
  display: flex;
  list-style: none;
  outline: none;
 }
  
 .pagination>.active>a {
  background-color: #47ccde;
  color: #fff;
 }
  
 .pagination>li>a {
  border: 1px solid #47ccde;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
 }
  
 .pagination>li>a, .pagination>li>span {
  color: #47ccde;
  background-color: azure;
 }